@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html {
box-sizing: border-box;
background-color: #a8d1e7;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
 line-height: 1.4;
}


.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  height: 90vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
  overflow-y: auto;
}

.title {
  color: #24315e;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 100px;
  font-size: 80px;
}

svg {
  width: 64px;
  height: 64px;
}

.todo-list {
  list-style: none;
  margin-bottom: 20px;
}

.todo-item {
  margin-bottom: 10px;
  width: 100%;
  color: #24315e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
}

.done span {
  text-decoration: line-through;
}

input[type="checkbox"] {
  display: none;
}

.tick {
  width: 30px;
  height: 30px;
  border: 3px solid #333;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tick::before {
  content: '✓';
  font-size: 20px;
  display: none;
}

.done .tick::before {
  display: inline;
}

.delete-todo {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.delete-todo svg {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

/* form {
  width: 100%;
  display: flex;
  justify-content: space-between;
} */

input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  /* border: 3px solid #333; */
}

.empty-state {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}


.empty-state__title, .empty-state__description {
  margin-bottom: 20px;
  color: #374785;
}

.todo-list:empty {
  display: none;
}

.todo-list:empty + .empty-state {
  display: flex;
}


/* Input field  */



.wrapper{
  width: 450px;
  background: #a8d1e7;
  padding: 30px;
}
.wrapper .input-data{
  height: 40px;
  width: 100%;
  position: relative;
}
.wrapper .input-data input{
  background: #a8d1e7;
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
}
/* .input-data input:focus ~ label,
.input-data input:valid ~ label{
  transform: translateY(-20px);
  font-size: 15px;
  color: #374785;
} */
.wrapper .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: grey;
  pointer-events: none;
  transition: all 0.3s ease;
}
/* Underline */
.input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}
.input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #374785;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before{
  transform: scaleX(1);
}
